<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> NaN - concours </title>

        <!-- stylesheet ***************************************** -->
        <link rel="stylesheet" href="/static/ressources/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/static/ressources/css/datatable/datatable.bootstrap.css" />

        <link rel="stylesheet" href="/static/ressources/css/main.css">

        <!-- jquery ******************************************** -->
        <script src="/static/ressources/js/jquery.min.js"></script>
        
    </head>
    <body>

        <section class="main ">
            
            <div class="container-fluid">
                <div class="space-top">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="mt-5">
                                <!--datatable-->
                                <div class="card br5 sz14 my-shadow" style="border: none">
                                    
                                    <div class="card-body">
                                        <div class="mb-5 ml-4 mt-4 mr-4 text-center result-box">
                                            <img src="/static/ressources/images/logo-nan.png" alt="logo de NaN" class="img-fluid mb-3" style="max-height: 70px;">
                                            <p>
                                                <span class="result">Resultat</span> <span>NaNien 3.20</span>
                                            </p>
                                            <hr>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="setting_defaults" class="table  table-bordered display" style="width:100%; font-size: 1.2rem;">
                                                <thead>
                                                    <tr>
                                                        <th style="border-bottom: none;border-top:none">Username</th>
                                                        <th style="border-bottom: none;border-top:none">Pourcentage</th>
                                                        <th style="border-bottom: none;border-top:none">Rang</th>  
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>NaN 3.20</td>
                                                        <td>90%</td>
                                                        <td>1er</td>
                                                    </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                        
                        
                </div>
            </div>
        </section>
        
        <!-- script ****************************************** -->
        <script src="/static/ressources/js/bootstrap.min.js"></script>
        <script src="/static/ressources/js/main.js"></script>
        <!-- script ****************************************** -->
        <script src="/static/ressources/js/datatable/datatable.init.js"></script>
        <script src="/static/ressources/js/datatable/datatable.js"></script>
        <script src="/static/ressources/js/datatable/datatable.basic.js"></script>
        <script src="/static/ressources/js/datatable/datatable.advanced.js"></script>
    </body>
</html>