<!DOCTYPE html>
<html>
<head>
	<title>connexion</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css10/style.css">  
</head>
<body>
	
	<div class="main">
		<div class="content">
			<h1>Un oridinateur est requis pour acceder à cette page</h1>
			<div>
				<img src="/static/images/check 2.svg" alt="succes" class="succes">
			</div>
		</div>
	</div>

	<footer>
			<p>Tout droit reservé à NaN</p>
			<p>Copyright © 2019-2020 DevsFront</p>
		
	</footer>
	
	<script src="/static/js/app.js"></script>
</body>
</html>